{% extends "donate/layout.html" %}

{% load static %}

{% block body %}
        {% for banner in banners %}
        <!-- BANNER IMAGE -->
            <div class="banner-img" style="background-image: url('{{ banner.image.url }}')">
                <div class="banner-contents">
                    <h1 class="welcome-header" id="home">Welcome to Founder<br/> Rehab Ranch</h1>
                    <!-- DONATE CARD -->
                    <div class="donate-cont">
                    <!-- CHANGE HOME PAGE SUMMARY -->
                        <img src="{% static 'donate/founder_logo.png' %}" class="site-logo-donate" href="{% url 'index' %}">
                        <p class="donate-sum">Feel free to support our wonderful horse rescue! Every penny is spent on improving the daily lives of the horses. We value any aid we can receive to purchase horse feed, enhance horse pens, and cover veterinary expenses.</p>
                        <a class="donate-btn" href="https://www.facebook.com/FounderRehab/">Support Cause</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    <div class="spacer" ></div>

    <!-- EVENT CAROUSEL -->
    <h1 class="sections" id="events">Events<hr></h1>
    <div class="event-cont">
        {% for event in events %}
            <div class="event">
                <a class="event-link" href="{% url 'event' event.id %}">
                    <img class="event-img" src="{{ event.image.url }}">
                    <div class="event-text">
                        <h2 class="event-title">{{ event.title }}</h2>
                        <p class="desc">{{ event.description }}</p>
                        <p class="date">{{ event.date }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="spacer" ></div>

    <!-- PUBLICATIONS DISPLAYED -->
    <h1 class="sections" id="news">Latest News<hr></h1>
    <div class="news-cont">
        {% for publication in publications %}
            <div class="news-pub">
                <a href="{% url 'publication' publication.id %}">
                    <img src="{{ publication.image.url }}" class="pub-img">
                    <div class="pub-contents">
                        <h2 class="headline">{{ publication.headline }}</h2>
                        <p class="desc">{{ publication.description }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="spacer"></div>

    <!-- HORSE DISPLAY -->
    <h1 class="sections" id="horse">Horses<hr></h1>
    <div class="horse-cont">
        {% for horse in horses %}
            <a href="{% url 'horse' horse.id %}">
                <div class="horse">
                    <img src="{{ horse.image.url }}" class="horse-img">
                    <h2 class="name">{{ horse.name }}</h2>
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="spacer"></div>

    <!-- CHANGE ABOUT SECTION HERE -->
    <h1 class="sections" id="about">About Our Ranch<hr></h1>
    <div class="about-cont">

        <!-- ABOUT PARAGRAPH HERE -->
        <p>In 2005 Beth Kennalley and Peggy Hetlage founded their non-profit Founder Rehab Ranch (FRR). FRR is a place where once neglected horses are truly cared for. All of our passionate volunteers help with feeding, washing, grooming, each and every horse. All [INSERT NUMBER OF HORSES] have roughly 25 acres of land for them to actually roam free.</p>
    </div>

    <!-- DISPLAY PEOPLE -->
    <div class="people-cont">
        {% for people in peoples %}
            <div class="people">
                <img src="{{ people.image.url }}" class="people-img">
                <h2 class="name">{{ people.name }}</h2>
                <h3 class="people-title">{{ people.title }}</h3>
            </div>
        {% endfor %}
    </div>
    <div class="spacer"></div>
{% endblock %}